@font-face {
    font-family: "Nymeria";
    src: url("fonts/Nymeria.ttf") format("truetype");
}

@font-face {
    font-family: "Maginia";
    src: url("fonts/Maginia.otf") format("truetype");
}

@font-face {
    font-family: "Elven";
    src: url("fonts/elvencommonspeak.ttf") format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}


body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 30px;
    color: #F6F1EB;
    font-family: Arial, sans-serif;
    background: #000;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: -3%;
    z-index: -2;

    background:
        radial-gradient(circle at center,
            rgba(255, 255, 255, .02) 0%,
            rgba(255, 255, 255, 0) 40%),
        linear-gradient(rgba(0, 0, 0, .55), rgba(0, 0, 0, .80)),
        var(--bg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    animation: backgroundMove 5s ease-in-out infinite alternate;
}

body {
    --bg: url("assets/bg1.png");
}

body.home {
    --bg: url("assets/bg1.png");
}

body.quiz {
    --bg: url("assets/bg2.png");
}

body.result {
    --bg: url("assets/bg3.png");
}

@keyframes backgroundMove {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.08);
    }

}

#bgFade {

    position: fixed;
    inset: -3%;

    z-index: -1;

    opacity: 0;

    pointer-events: none;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    transition: opacity 1s ease;

    animation: backgroundMove 5s ease-in-out infinite alternate;

}

#app {
    width: 100%;
    max-width: 850px;
    text-align: center;
    animation: fadeUp .8s ease
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

h1 {
    font-family: "Nymeria";
    font-size: 40px;
    font-weight: 400;
    color: #FFF7F0;
    animation: titleIn 1s ease
}

.start-screen h1 {
    font-family: "Nymeria";
    font-size: 100px;
    font-weight: 400;
    color: #FFF7F0;
    animation: titleIn 1s ease
}

.start-screen p {
    font-family: "Maginia";
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.25;
    max-width: 760px;
    animation: fadeUp 1.2s ease
}

#startButton {

    min-width: 280px;
    width: 280px;
    height: 72px;

    margin-top: 40px;

    font-family: "Nymeria";
    font-size: 20px;
    letter-spacing: 8px;

    animation: pulse 3s infinite;

}

.progress-text {
    font: 300 14px Arial;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #CDB8E8;
    margin-bottom: 25px
}

h2 {
    padding: 4px;
    font-family: "Maginia";
    font-size: 48px;
    line-height: 1.25;
    font-weight: 400;
    color: #FFF7F0;
    animation: fadeUp .6s
}

.answer {
    display: block;
    letter-spacing: 1px;
    width: 100%;
    max-width: 650px;
    margin: 18px auto;
    padding: 18px;
    background: rgba(255, 255, 255, .08);
    border: 0px;
    border-radius: 18px;
    backdrop-filter: blur(8px);
    color: #fff;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    cursor: pointer;
    transition: .3s;
    animation: fadeUp .5s both
}

.answer:nth-of-type(1) {
    animation-delay: .05s
}

.answer:nth-of-type(2) {
    animation-delay: .1s
}

.answer:nth-of-type(3) {
    animation-delay: .15s
}

.answer:nth-of-type(4) {
    animation-delay: .2s
}

.answer:hover,
.answer.selected {
    background: #DFC36A;
    color: #231A0A;
    border-color: #DFC36A;
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 0 24px rgba(223, 195, 106, .45)
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 40px
}


button {

    position: relative;
    min-width: 260px;
    padding: 18px 36px;
    border-radius: 999px;
    border: 0px;
    background: rgba(255, 255, 255, .05);
    color: #F8F8F6;
    font: 16px "Maginia";
    letter-spacing: 3px;
    cursor: pointer;

    overflow: hidden;

    transition:
        transform .35s ease,
        background .35s ease,
        border-color .35s ease,
        box-shadow .35s ease;

    box-shadow:
        inset 0 0 0 0px rgba(255, 255, 255, .04),
        0 12px 35px rgba(0, 0, 0, .35);

}

button:hover {

    transform: translateY(-3px);

    background: rgba(255, 255, 255, .08);

    border-color: rgba(255, 255, 255, 0.75);

    box-shadow:
        0 0 20px rgba(255, 255, 255, 0.18),
        0 20px 45px rgba(0, 0, 0, .45);

}

button:active {

    transform: translateY(-1px) scale(.98);

}

a button {

    margin-top: 40px;

}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes titleIn {
    from {
        opacity: 0;
        transform: translateY(-25px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.04)
    }
}

@keyframes kenburns {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.08)
    }
}

@keyframes floatGlow {
    from {
        opacity: .35;
        transform: translateY(-10px)
    }

    to {
        opacity: .6;
        transform: translateY(10px)
    }
}

/* =========================== LOADER =========================== */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    animation: fadeIn .4s ease;
}

.magic-loader {
    position: relative;
    width: 140px;
    height: 140px;
}

.ring {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 1px solid rgba(223, 195, 106, .35);
    box-shadow: 0 0 18px rgba(223, 195, 106, .18), inset 0 0 18px rgba(223, 195, 106, .08);
}

.orb {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: -6px;
    border-radius: 50%;
    background: #DFC36A;
    box-shadow: 0 0 8px #DFC36A, 0 0 18px rgba(223, 195, 106, .7), 0 0 35px rgba(223, 195, 106, .35);
    animation: orbit 2.8s linear infinite;
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(70px);
    }

    to {
        transform: rotate(360deg) translateX(70px);
    }
}


#certificateName {

    width: 320px;

    max-width: 90%;

    padding: 14px;

    border-radius: 12px;

    border: 1px solid #aaa;

    font-size: 18px;

    text-align: center;

    outline: none;

    margin-top: 15px;

}

#certificateName:focus {

    border-color: #7d5cff;

}

.aspetta {

    margin-top: 16px;

    opacity: 0;

    transform: translateY(8px);

    pointer-events: none;

    transition:
        opacity .5s ease,
        transform .5s ease;

}

.aspetta.show {

    opacity: 1;

    transform: translateY(0);

}

.site-footer{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1000;

    font-family: "Maginia";
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;

    color: rgba(255,255,255,.55);

    background: transparent;
    pointer-events: none;

    user-select: none;
}


@media(max-width:768px) {

    body {
        min-height: 100dvh;
        padding: 0px;
        align-items: flex-start;
    }

    #app {

        width: 100%;

    }

    .start-screen {

        min-height: 100dvh;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-top: 120px;

    }

    .result {
        padding: 10px;
        padding-top: 120px;
    }


    .start-screen h1 {
        font-size: 50px
    }

    .start-screen p {
        font-size: 12px
    }

    h2 {
        font-size: 34px
    }

    .answer {
        font-size: 14px;
        width: calc(100% - 20px);
        max-width: 650px;
        margin: 18px auto;
        padding: 18px;


    }

    button {

        width: 100%;
        max-width: 320px;
        font-size: 19px
    }

    #startButton {

        min-width: 280px;
        width: 280px;
        height: 72px;
        font-family: "Nymeria";
        font-size: 14px;
        letter-spacing: 8px;

        animation: pulse 3s infinite;

    }

    .progress-text {
        font: 300 10px Arial;
        color: #CDB8E8;
        margin-bottom: 12px;
        margin-top: 20px;

    }

    .site-footer{
        bottom: 10px;
        font-size: 10px;
    }


}