@font-face {
    font-family: "IMFell";
    src: url("fonts/IMFellEnglish-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IMFellItalic";
    src: url("fonts/IMFellEnglish-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* ---------- GENERALE ---------- */

body{
    font-family: Arial, sans-serif;
    background:#1b1433;
    color:#fff;
    max-width:900px;
    margin:auto;
    padding:20px;
}

h1,
p{
    font-family:"IMFellItalic", serif;
}

h2{
    font-family:"IMFell", serif;
    font-size:28px;
    margin-bottom:30px;
    line-height:1.4;
}

.progress-text{
    font-family:"IMFellItalic", serif;
    font-size:13px;
    letter-spacing:2px;
    color:#cfc6ff;
    margin-bottom:15px;
    text-transform:uppercase;
    opacity:.8;
}

/* ---------- QUIZ ---------- */

#app{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

/* ---------- RISPOSTE ---------- */

.answer{
    display:block;
    width:100%;
    max-width:650px;
    margin:12px auto;
    padding:16px;
    border:1px solid #888;
    border-radius:12px;
    background:#2d2149;
    color:#fff;
    font-size:18px;
    text-align:center;
    transition:.25s;
}

/* Hover e risposta selezionata uguali */

.answer:hover,
.answer.selected{
    background:#ffd966;
    color:#222;
    border-color:#ffd966;
    font-weight:bold;
}

/* ---------- PULSANTI ---------- */

button{
    display:block;
    margin:25px auto;
    padding:15px 30px;
    min-width:220px;
    font-size:18px;
    border:none;
    border-radius:12px;
    cursor:pointer;
}

/* ---------- MOBILE ---------- */

@media (max-width:768px){

    body{
        padding:15px;
    }

    h1{
        font-size:28px;
    }

    h2{
        font-size:22px;
    }

    .intro{
        font-size:16px;
    }

    .answer{
        width:100%;
        font-size:17px;
        padding:15px;
    }

    button{
        width:100%;
        max-width:320px;
        font-size:17px;
    }

    .info{
        flex-direction:column;
    }

    .info div{
        width:100%;
    }

}